* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-size: 62.5%;
    line-height: 1.6rem; */
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --boder-color: #999;
    --black-color: #000;
    --white-color: #fff;
}
#main {
    overflow: hidden;
}
/* .boxclear::after{
    clear: both;
    content: "";
    display: block;
} */
.clear {
    clear: both;
}
.btn {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 16px;
    overflow: hidden;
    cursor: pointer;
}
#header {
    height: 48px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#slider {
    margin-top: 48px;
    padding-top: 50%;
    background: url("../img/chicago.jpg") top center / cover no-repeat;
    position: relative;
}

@keyframes modalfadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (min-width: 740px) and (max-width: 1024px) {
    .tour__place-info {
        max-width: 229px;
    }
    #header {
        position: fixed;
    }
    .modal__content {
        width: auto;
    }
}
@media (max-width: 740px) {
    #menu {
        position: absolute;
        right: -5px;
    }
    .header__navbar {
        width: 100%;
        display: block;
    }
    .slider__img-text {
        display: none;
    }
    .slider__img-info {
        display: none;
    }
    .header__navbar-home {
        display: block;
        color: rgb(253, 253, 252);
        height: 48px;
    }
    .tour__place {
        display: block;
    }
    .tour__place-info {
        max-height: 100%;
        max-width: 100%;
        margin-top: 30px;
    }
    .modal__content {
        width: auto;
    }
    .team__img-member--img {
        margin-top: 5px;
        width: 229px;
    }
    .team__img-member {
        margin-top: 28px;
        width: 100%;
    }
    .header__navbar_search {
        display: none;
    }

    #header {
        overflow: hidden;
        position: fixed;
    }
    .header__navbar-item:first-child {
        display: inline-block;
    }
    .header__navbar-item {
        display: block;
    }
    /* contact */
    .contact__content {
        display: block;
    }
    .contact__info {
        margin-bottom: 20px;
    }
    .contact__size {
        width: auto;
    }
    .contact__info {
        width: auto;
    }
    .contact__head {
        display: grid;
    }
}
